<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nodeflow</title>
        <meta name="description" content="">
        <meta name="author" content="Alejandro Corsino">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../styles/main.styl" media="screen" title="no title" charset="utf-8">
        <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    </head>
    <body>
        {{> partials/header}}
        <main class="container pic-section">

            <section class="row">
                <section class="six columns">
                    <div class="pic-holder">
                      <img src="../assets/pics/carmel.jpg" alt="" />
                    </div>
                </section>
                <section class="six columns">
                    <div class="pic-holder">
                      <img src="../assets/pics/carmel.jpg" alt="" />
                    </div>
                </section>
            </section>
            <section class="row">
                <section class="four columns">
                    <div class="pic-holder">
                      <img src="../assets/pics/carmel.jpg" alt="" />
                    </div>
                </section>
                <section class="eight columns">
                    <div class="pic-holder">
                      <img src="../assets/pics/carmel.jpg" alt="" />
                    </div>
                </section>
            </section>
        </main>

        {{> partials/footer}}
        <script src="scripts/common.js" charset="utf-8"></script>
        <script src="scripts/index.js" charset="utf-8"></script>
    </body>
</html>
