<header class="container">
    <section class="row">
        <section class="one-third column">
          ..
        </section>
        <section class="one-third column">
            <div class="banner">
                <img src="../../assets/img/ac-banner.svg" alt="" />
            </div>
        </section>
        <section class="one-third column">
        </section>
    </section>
</header>
