//Wearables and Minimals between ??px 319px

//Mobiles between 320 dp and next bp
$mobile = 320px

//Tablets between 436px and next bp  ( Nexus 6p largest screen 435 dp)
$tablet = 436px

//Screens between greater than 768dp
$screen = 769px

//Large Screens greater than ??dp
